DATABASE_URL="postgres://postgres:senha@ip:5432/postgres"
NEXTAUTH_SECRET="gere_uma_chave_segura"
NEXTAUTH_URL="https://seu-dominio-no-coolify.com"
OPENAI_API_KEY="sk-proj-sua-chave-aqui"
NODE_ENV="production"