@import "tailwindcss";

@theme {
  --font-sans: var(--font-figtree);
  
  /* Semantic Colors - Exposed to Tailwind */
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  
  --color-surface: var(--surface);
  --color-surface-muted: var(--surface-muted);
  
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  
  --color-border-subtle: var(--border-subtle);
}

@layer base {
  :root {
    /* Base Tones: Clínico Claro (Sky / Cerulean) */
    --primary-50: #f0f9ff; 
    --primary-100: #e0f2fe;
    --primary-200: #bae6fd;
    --primary-500: #0ea5e9;
    --primary-600: #0284c7; 

    --surface: #ffffff;
    --surface-muted: #f8fafc; /* slate-50 */
    --text-main: #0f172a; /* slate-900 */
    --text-muted: #64748b; /* slate-500 */
    --border-subtle: #f1f5f9; /* slate-100 */
  }

  body {
    background-color: var(--color-surface);
    color: var(--color-text-main);
  }
}
